/*body {
	width: 100wh;
	height: 90vh;
	background-color: #99ad92;
	background: linear-gradient(32deg, #D4EAC3, #fef3f1, #ffe076 );*/
	/* burgundy, gray, mint, blue, yellow , #c67676
/*	background-size: 600% 600%;
	font-family: Source Sans Pro;
}*/

/*@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}*/

///////////////////////////////////////////////////

/*.header {
	padding-top: 10px;
	padding-bottom: 15px;
}

.name {
	display: inline-block;
	margin-left: 4%;
	margin-top: 2.5%;
	width: 12%;
}

.pages {
	float: right;
	font-size: 16px;
	margin-top: 3.3%;
	margin-right: 5%;
	font-style: italic;*/
}

.myinfo {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: black;
	text-align: center;
	font-size: 13px;
	color: #deedee;
	/*margin-top: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 13px;
	width: 100%;*/
}

/*a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

.workicons {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
}

.workiconsimg {
  max-width: 100%;
}*/