.cmtitle {
	width: 27%;
	margin-left: 36.7%;
	margin-top: 30px;
}

.iphone {
	width: 350px;
	margin-left: 38%;
	margin-top: 30px;
}

/*.vl {
    border-left: 1px solid black;
    height: 2000px;
    position: absolute;
    left: 50%;
    margin-left: -.5px;
    top: 0;
}*/