.furntitle {
	font-size: 190%;
	margin-left: 10%;
	margin-right: 10%;
	color: #333333;
}

.furntitle a {
	border-bottom:3px solid #eac06c;
}

.furnwords {
	margin-left: 10%;
	margin-top: -40px;
	font-family: Source Sans Pro;
	font-size: 16px;
	line-height: 170%;
	margin-right: 10%;
}

.furnpix img {
	float: right;
	width: 39%;
	display: inline-block; 
	clear: right;
	margin-right: 5%;
	margin-bottom: 20px;
	margin-left: 6%;
}

.furn0 {
	width: 35%;
	margin-right: 5%;
	float: left;
	margin-top:;
}

.furn4 {
	width:20%;
	float: left;
}

.furn2{
	transform: rotate(90deg);
}

.furn10 {
	transform: rotate(90deg);
}

ul {
	list-style-position: inside;
}

.date {
	margin-top: 50px;
	font-size: 175%;
}