ul {
	list-style-position: inside;
}

.furntitle {
	font-size: 190%;
	margin-left: 10%;
	margin-right: 10%;
	color: #333333;
}

.furntitle a {
	border-bottom:3px solid #eac06c;
}

.furnwords {
	margin-left: 10%;
	margin-top: -40px;
	font-family: Source Sans Pro;
	font-size: 16px;
	line-height: 170%;
	margin-right: 10%;
}

.furn0 {
	width: 35%;
	margin-right: 5%;
	float: left;
	margin-top:;
}

.furn {
	text-align: center;
	margin: 0 auto;
}

.furn2 {
	width: 25%;
	margin-right: 3%;
	float: left;
	margin-left: 5%;
}

.furn4 {
	margin-top: 3%;
	width: 25%;
	float: left;
	margin-right: 3%;
	margin-left: 4%;
}

.furn5 {
	float: right;
	width: 30%;
	margin-right: 5%;
	margin-top: -10%;
	margin-left: 3%;
}

.furn7 {
	width: 22%;
	float: right;
	margin-top: 5%;
	margin-right: 8%;
}

.furn8 {
	width: 22%;
	float: right;
	margin-top:-30%;
	margin-right: 8%;
}

.furn9 {
	width: 30%;
	float: left;
	margin-top: -3%;
	margin-right: 3%;
}

.furn12 {
	width: 25%;
	float: left;
	margin-right: 5%;
	margin-bottom: 5%;
}

.screw {
	width: 8%;
	float: right;
	transform: rotate(30deg);
	margin-right: -5%;
}

.dkflag {
	width: 20%;
	float: right;
	margin-right: 10%;
	margin-top: -10%;
}

.rk17 {
	width: 60%;
	margin-left: 8%;
	margin-top: 5%;
}

.build {
	margin-top: 18%;
	margin-left: 10%;
}

.date {
	margin-top: 50px;
	font-size: 175%;
}

.block1 {
	margin-top: 5%;
}

.blurb {
	margin-top:%;
}

.block2 {
	margin-top: 10%;
	text-align: ;
	margin-right: %;
	margin-left: %;
}

.block4{
	margin-left: 3%;
	margin-right: -1%;
	margin-top:5%;
}

.block5{
	margin-top: 15%;
	margin-left: 10%;
}

.block6 {
	margin-top: 15%;
}

.brainstorm {
	margin-bottom: 10%;
}

.building {

}

.whatelse {
	margin-top: 10%;
}

.fun {
	margin-top: auto;
	margin-bottom: auto;
}

/*.vl {
    border-left: 1px solid black;
    height: 5000px;
    position: absolute;
    left: 50%;
    margin-left: -.5px;
    top: 0;
}*/