.glosstitle {
	font-size: 220%;
	margin-left: 4%;
}

.glosswords {
	margin-left: 4.5%;
	margin-top: -33px;
	font-family: Source Sans Pro;
	font-size: 18px;
	line-height: 170%;
	margin-right: 5%;
}

/*.glosspix img {
	float: right;
	width: 35%;
	clear: right;
	margin-right: 8%;
	margin-bottom: 20px;
	margin-left: 6%;
}*/

.gloss1 {
	margin-top: -15%;
	float: right;
	width: 35%;
	margin-right: 35%;
	margin-bottom: 20px;
	margin-left: 5%;

}

.gloss2 {
	width: 35%;
	margin-right: 5%;
	float: left;
	margin-top:;
}

.glossproblem {
	background-color: rgb(251,225,225, 0.9);
	margin-left: -5%;
	padding-left: 5%;
}

a.link {
	color: red;
}

a.hover {
	color: blue;
}

.glossprojects {
	margin-top: px;
	float: right;
}

/*.vl {
    border-left: 1px solid black;
    height: 2000px;
    position: absolute;
    left: 50%;
    margin-left: -.5px;
    top: 0;
}*/
