.glosstitle {
	font-size: 220%;
	margin-left: 4%;
}

.glosswords {
	margin-left: 4.5%;
	margin-top: -33px;
	font-family: Lora;
	font-size: 15px;
	line-height: 170%
}

.glosspix img {
	float: right;
	width: 35%;
	display: inline-block;
	clear: right;
	margin-right: 8%;
	margin-bottom: 20px;
	margin-left: 6%;
}

.gloss1 {
	margin-top: -70px;
}

.glossproblem {
	background-color: rgb(251,225,225, 0.9);
	margin-left: -5%;
	padding-left: 5%;
}

a.link {
	color: red;
}

a.hover {
	color: blue;
}

/*.vl {
    border-left: 1px solid black;
    height: 2000px;
    position: absolute;
    left: 50%;
    margin-left: -.5px;
    top: 0;
}*/
