body {
	width: 100wh;
	height: 90vh;
	color: #;
	background: linear-gradient(32deg, #aceace, #fef3f1, #ffe076 );
	/* burgundy, gray, mint, blue, yellow , #c67676*/
	background-size: 600% 600%;
	-webkit-animation: Gradient 15s linear infinite;
	-moz-animation: Gradient 15s linear infinite;
	animation: Gradient 15s linear infinite;
	margin:0;
	font-family: Source Sans Pro;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/*body {
	margin:0;
	background: #e0e9d9; #F5FAFF; #FDF7E0; #ddf2f4;
	font-family: Source Sans Pro;
}*/

#Layer_1 {
	margin-left: 4%;
	margin-top: 2.5%;
	width: 35%;
}

.path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

///////////////////////////////////////////////////

.header {
	padding-top: 10px;
	padding-bottom: 15px;
}

.name {
	display: inline-block;
	margin-left: 4%;
	margin-top: 2.5%;
	width: 12%;
}

.pages {
	float: right;
	font-size: 16px;
	margin-top: 3.3%;
	margin-right: 5%;
	font-style: italic;
}

///////////////////////////////////////////////////

.body {
	display: inline-block;
	overflow: hidden;
}

.words {
    position: relative;
}

.hiimrika {
	margin-top: 10%;
    font-size: 50px;
    color: #333333;
    margin-left: 5%;
    font-family: Source Sans Pro;
}

.navigation {
	margin-left: 5%;
	margin-top: 130px;
	background-color: ;
}

#descr {
	font-size: 48px;
	margin-left: 3.8%;
	margin-top: -14%;-200px;
	margin-bottom: 100px;
	width: 93%;
	color: #333333;
}

a {
	color: #333333;
	text-decoration: none;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.hide{
	display:none;
}

.show{
	display: block;
	position: relative;
	left: 1.5%;
	top: 130px;
	color: #333333;
}

a.button {
	position: relative;
	background-color: white;
	color: #333333;
	border: 2px solid black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 20px 5px;
	padding: 5px 20px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 10px;
}

a.button:hover {
	background-color: #eac06c;
	color: #333333;
}

.myinfo {
	margin-top: 12%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 13px;
}
