ul {
	list-style-position: inside;
}

.oxotitle {
	font-size: 190%;
	margin-left: 10%;
	margin-right: 10%;
	color: #333333;
}

.oxotitle a {
	border-bottom:3px solid #eac06c;
}

.date {
	margin-top: 50px;
	font-size: 175%;
}

.oxowords {
	margin-left: 10%;
	margin-top: -40px;
	font-family: Source Sans Pro;
	font-size: 16px;
	line-height: 170%;
	margin-right: 10%;
}

.block1 {
	margin-top: 5%; 
	background-color: ;
}

.block1text {
	margin-top: %;
	background-color: ;
}

.ox1 {
	width: 100%;
	margin-right: 5%;
	float: left;
	margin-bottom: 2%;
} 

.soap {
	float: right;
	width: 10%;
	transform: rotate(25deg);
	margin-right: -7%;
	margin-top:2%;
}

.captionedpic {
	width: 50%;
	display: block;
	float: left;
	background-color: ;
	margin-right: 5%;
}

.caption {
	margin-top:-1%;
	width: 100%;
	font-size:14.5px;
}

.block2 {

}

.block2text {
	margin-top: 15%;
}

.ox2 {
	width: 40%;
	float: right;
	margin-left: 5%;
}

.whatelse {
	margin-top: 10%;
}

.o1 {
	margin-left: 3%;
}

.o2 {
	margin-left: 6%;
}

.o3 {
	margin-left: 9%;
	width: 100%;
}

.o4 {
	width: 57%;
}



