.teslatitle {
	font-size: 190%;
	margin-left: 10%;
	margin-right: 10%;
	color: #333333;
}

.teslatitle a {
	border-bottom:3px solid #eac06c;
}
.teslawords {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: -40px;
	font-family: Source Sans Pro;
	font-size: 16px;
	line-height: 170%
}

.teslapix img {
	float: right;
	width: 39%;
	display: inline-block; 
	clear: right;
	margin-right: 10%;
	margin-bottom: 20px;
	margin-left: 6%;
}

.tesla1 {
	width: 100%;
	margin-right: 5%;
	float: left;
	margin-top:;
} 

.tesla2 {
	width: 55%;
	float: right;
	margin-left: 5%;
}

.assemline {
	float: left;
	width: 40%;
	margin-left: -14%;
	margin-right: 5%;
}

.assemline2{
	float: right;
	width: 40%;
	margin-right: -14%;
}

.date {
	margin-top: 50px;
	font-size: 175%;
}

.block2 {
	margin-top: 18%;
}

.captionedpic {
	width: 50%;
	display: block;
	float: left;
	background-color: ;
	margin-right: 5%;
}

.caption {
	margin-top:-1%;
	width: 100%;
	font-size:14.5px;
}

.yes {
	margin-left: 0%;
}

.whatelse {
	margin-top: 10%;
}