.wptitle {
	font-size: 190%;
	margin-left: 10%;
	margin-right: 10%;
	color: #333333;
}

.wptitle a {
	border-bottom:3px solid #eac06c;
}

a, button {
	transition: 0.48s border-bottom-color ease-out;
}
.wpwords {
	margin-left: 10%;
	margin-top: -40px;
	font-family: Source Sans Pro;
	font-size: 16px;
	line-height: 170%;
	margin-right: 10%;
}

.wppix img {
	float: right;
	width: 40%;
	display: inline-block;
	clear: right;
	margin-right: 5%;
	margin-bottom: 20px;
	margin-left: 5%;
}

.wp1 {
	margin-top: -70px;
} 

.date {
	margin-top: 50px;
	font-size: 175%;
}